{% extends 'MyMainBundle::layout_map.html.twig' %}

{% block title %}{{ game.name }} | {{ parent() }}{% endblock %}
{% block bodyClass %}body-map{% endblock %}

{% block navbar %}
<li>
    <a>
        {{ game.name }}

        <button id="map-refresh" class="btn btn-xs">refresh</button>
    </a>
</li>

{% endblock %}

{% block content %}

<div class="map-status">
    <span>
        <span class="playercolorsquare" style="background: {{ player.color }}"></span>
        {{ user.name }}
    </span>

    <span data-bind="with: status, visible: status.bases() > 0">
        <span data-bind="text: bases"></span> bases |
        <span data-bind="text: fleets"></span> fleets | 
        <span data-bind="text: ships"></span> ships 
        (+<span data-bind="text: production"></span> /turn)
    </span>
</div>

<div id="map-wrapper">
    <div id="map-container" class="map-container"></div>
    <div id="game-panel" class="game-panel" style="display: none;">&nbsp;</div>
</div>

{% endblock %}

{% block jsTemplates %}
{% verbatim %}

<script id="tpl-base-panel" type="test/x-handlebars-template">
    <div class='panel-base'>
        <h2 class='base-name' {{#if player}}style='color: {{ player.color }}'{{/if}}>
            {{ name }}
        </h2>
        <p class='lead player-name' {{#if player}}style='color: {{ player.color }}'{{/if}}>
            <i>{{ player.name }}</i>
        </p>

        <hr>
        <p>
            Resources: {{ resources }}<br>
            Production: {{ production }}
        </p>
        <p>
            Total ships: {{ totalPower }}
            <br>Garrisoned ships: {{ power }}
            {{#if owned}}
                {{#if power}}
                    <a href="javascript: void(0)" data-base="{{ id }}" class="control control-fleet-create">make fleet</a>
                {{/if}}

                {{!--
                {{#if totalPower}}
                    <button type="button" data-base="{{ id }}" class="control control-fleet-merge">
                        merge fleets & garrison
                    </button>
                {{/if}}
                --}}
            {{/if}}

        </p>

        {{#if orbiting}}
            {{#if owned}}

            <hr>
            <p class='lead'>
                {{ fleetPower }} ships in 
                {{ fleetCount }} fleets
            </p>
            <ul class='list-unstyled fleets-list'>
                {{#each orbiting}}
                <li>
                    <label>
                        <input type='checkbox' class='fleet-check' value='{{ this.id }}'>
                        {{ this.power }} ships

                        {{#if this.destination}}
                        - leaving for {{basename this.destination }}
                        {{/if}}
                    </label>
                </li>
                {{/each}}
            </ul>
            <div class='fleet-control' style='display: none;'>
                With selected fleets... <br>

                <button data-base='{{ id }}' class='btn btn-xs fleet-station'>garrison</button>
                <select data-base='{{ id }}' class='fleet-move'>
                    <option value=''>move to...</option>

                    {{#each inFleetRange}}
                        <option 
                            class="fleet-select-destination" 
                            value="{{ this.id }}"
                        >{{ this.name }} ({{ this.distance }})</option>
                    {{/each}}
                </select>
            </div>
            {{/if}}
        {{/if}}

        {{#if inbound}}

        <hr>
        <p class='lead'>
            {{ inbound.length }} inbound fleets
        </p>
        <ul class='list-unstyled fleets-list'>
            {{#each inbound}}
            <li style='color: {{ this.player.color }};'>
                <strong>{{ this.power }}</strong> ships 
                {{ this.timeleft }}s away 
                ({{ this.player.name }})
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
</script>

{% endverbatim %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var gameId = {{ game.id }};
        var playerId = {{ player.id }};
        var canvasW = $(window).width();
        var canvasH = $(window).height() - 30;
    </script>
    {% javascripts
        '@MyMainBundle/Resources/public/js/raphael-min.js'
        '@MyMainBundle/Resources/public/js/knockout-2.3.0.js'
        '@MyMainBundle/Resources/public/js/game.map.js'
        '@MyMainBundle/Resources/public/js/game.data.js'
        output='/compiled/js/game.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        // Get the ball rolling
        $G.refresh();
        window.setInterval($G.refresh, $G.refreshInterval);
    </script>
{% endblock %}