{% extends 'MyMainBundle::layout.html.twig' %}

{% block navbar %}
<li>
    <a>
        {{ game.name }}

        <button id="map-refresh" class="btn btn-xs">refresh</button>
    </a>
</li>

{% endblock %}

{% block content %}

<div class="map-wrapper">
    <div id="map-container" class="map-container" style="
        width: {{ map.width + 50}}px;
        height: {{ map.width + 50}}px;
    "></div>

    <div id="game-panel" class="game-panel">&nbsp;</div>
</div>

{% endblock %}

{% block jsTemplates %}
{% verbatim %}

<script id="tpl-base-panel" type="test/x-handlebars-template">
    <div class='panel-base {{#if base.owned}}base-owned{{/if}} {{#if base.enemy}}base-enemy{{/if}}'>
        <h2 class='base-name'>
            {{ base.name }}
        </h2>
        <p class='lead player-name'>
            <i>{{ base.player.name }}</i>
        </p>

        <hr>
        <p>
            Resources: {{ base.resources }}
        </p>
        <p>
            Stationed ships: {{ base.power }}
            <br>Total garrison: {{ power }}
            {{#if base.owned}}
                {{#if base.power}}
                    <a href="javascript: void(0)" data-base="{{ base.id }}" class="control control-fleet-create">make fleet</a>
                {{/if}}
            {{/if}}
        </p>

        {{#if fleets}}

        <hr>
        <p class='lead'>
            {{ fleetPower }} ships in 
            {{ fleetCount }} fleets
        </p>
        <ul class='fleets-list'>
            {{#each fleets}}
            <li>
                <label>
                    <input type='checkbox' value='{{ this.id }}'>
                    {{ this.power }} ships
                </label>

                <a href='javascript: void(0)'>move</a>
            </li>
            {{/each}}
        </ul>
        <div class='fleet-controls'>
            <button class='btn btn-xs fleet-merge'>merge</button>
            <button class='btn btn-xs fleet-station'>station</button>
        </div>
        {{/if}}
    </div>
</script>

{% endverbatim %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var gameId = {{ game.id }};
        var playerId = {{ player.id }};
    </script>
    {% javascripts
        '@MyMainBundle/Resources/public/js/raphael-min.js'
        '@MyMainBundle/Resources/public/js/handlebars.js'
        '@MyMainBundle/Resources/public/js/game.map.js'
        output='/compiled/js/game.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}