{% extends 'MyMainBundle::layout.html.twig' %}

{% block navbar %}
<li>
    <a>
        {{ game.name }}

        <button id="map-refresh" class="btn btn-xs">refresh</button>
    </a>
</li>

{% endblock %}

{% block content %}

<div class="map-wrapper">
    <div id="map-container" class="map-container" style="
        width: {{ map.width + 100}}px;
        height: {{ map.width + 100}}px;
    "></div>

    <div id="game-panel" class="game-panel">&nbsp;</div>
</div>

{% endblock %}

{% block jsTemplates %}
{% verbatim %}

<script id="tpl-base-panel" type="test/x-handlebars-template">
    <div class='panel-base'>
        <h2 class='base-name' {{#if base.owned}}style='color: {{ base.player.color }}'{{/if}}>
            {{ base.name }}
        </h2>
        <p class='lead player-name' {{#if base.owned}}style='color: {{ base.player.color }}'{{/if}}>
            <i>{{ base.player.name }}</i>
        </p>

        <hr>
        <p>
            Resources: {{ base.resources }}
        </p>
        <p>
            Total ships: {{ power }}
            <br>Garrisoned ships: {{ base.power }}
            {{#if base.owned}}
                {{#if base.power}}
                    <a href="javascript: void(0)" data-base="{{ base.id }}" class="control control-fleet-create">make fleet</a>
                {{/if}}
            {{/if}}

        </p>

        {{#if fleets}}

        <hr>
        <p class='lead'>
            {{ fleetPower }} ships in 
            {{ fleetCount }} fleets
        </p>
        <ul class='list-unstyled fleets-list'>
            {{#each fleets}}
            <li>
                <label>
                    <input type='checkbox' class='fleet-check' value='{{ this.id }}'>
                    {{ this.power }} ships

                    {{#if this.destination}}
                    - leaving for {{ this.destination }}
                    {{/if}}
                </label>
            </li>
            {{/each}}
        </ul>
        <div class='fleet-control' style='display: none;'>
            With selected fleets... <br>

            <button data-base='{{ base.id }}' class='btn btn-xs fleet-station'>garrison</button>
            <select data-base='{{ base.id }}' class='fleet-move'>
                <option value=''>move to...</option>

                {{#each inRangeBases}}
                    <option 
                        class="fleet-select-destination" 
                        value="{{ this.id }}"
                    >{{ this.name }} ({{ this.distance }})</option>
                {{/each}}
            </select>
        </div>
        {{/if}}
    </div>
</script>

{% endverbatim %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var gameId = {{ game.id }};
        var playerId = {{ player.id }};
    </script>
    {% javascripts
        '@MyMainBundle/Resources/public/js/raphael-min.js'
        '@MyMainBundle/Resources/public/js/handlebars.js'
        '@MyMainBundle/Resources/public/js/game.map.js'
        output='/compiled/js/game.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}