{% extends 'MyMainBundle::layout.html.twig' %}

{% block navbar %}
<li>
    <a>
        {{ game.name }}

        <button id="map-refresh" class="btn btn-xs">refresh</button>
    </a>
</li>

{% endblock %}

{% block content %}

<div class="map-wrapper">
    <div id="map-container" class="map-container" style="
        width: {{ map.width + 50}}px;
        height: {{ map.width + 50}}px;
    "></div>

    <div id="game-panel" class="game-panel">&nbsp;</div>
</div>

{% endblock %}

{% block jsTemplates %}
{% verbatim %}

<script id="tpl-base-panel" type="test/x-handlebars-template">
    <div class='panel-base {{#if owned}}base-owned{{/if}} {{#if enemy}}base-enemy{{/if}}'>
        <h2 class='base-name'>
            {{ name }}
        </h2>
        <p class='lead player-name'>
            <i>{{ player.name }}</i>
        </p>
        <p>
            Resources: {{ resources }}
        </p>
        <p>
            Ships in orbit: {{ power }}
            {{#if owned}}
                {{#if power}}
                    <a href="javascript: void(0)" data-base="{{ id }}" class="control control-fleet-create">make fleet</a>
                {{/if}}
            {{/if}}
        </p>
    </div>
</script>

{% endverbatim %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var gameId = {{ game.id }};
        var playerId = {{ player.id }};
    </script>
    {% javascripts
        '@MyMainBundle/Resources/public/js/raphael-min.js'
        '@MyMainBundle/Resources/public/js/handlebars.js'
        '@MyMainBundle/Resources/public/js/game.map.js'
        output='/compiled/js/game.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}