{% extends 'MyMainBundle::layout.html.twig' %}

{% block content %}
<p class="lead">
    {{ game.name }}
</p>

<p>
    This game has not yet started
</p>

<p class='lead'>
    {{ players|length }} players
</p>
<ul class="list-unstyled lobby-players">
    {% for p in players %}
        <li>
            <span class='playercolorsquare' style='background: {{ p.color }}'></span>
            <img src="{{ p.user.getGravatar(24) }}">
            {{ p.user.name }}
        </li>
    {% endfor %}
</ul>

<p>
    {% if game.hasUser(user) %}
        <a href="{{ path('games_leave', {game: game.id}) }}" class="btn btn-warning">
            Leave
        </a>
    {% else %}
        <a href="{{ path('games_join', {game: game.id}) }}" class="btn btn-success">
            Join
        </a>
    {% endif %}
</p>

{% endblock %}